* {
    margin: 0;
    color: #00ff00;
    font-family: 'Ubuntu Mono';
}

p {
    padding-bottom: 5px;
}

input {
    width: 786px;
    height: 16px;
    border: hidden;
    background-color: black;
    font-size: 1em;
    padding-left: 12px;
    padding-bottom: 10px;
    resize: none;
    caret-color: black;
}

input:focus {
    outline: none;
}

#terminal {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 20px;
    background-color: black;
}

#text-container {
    position: relative;
    width: 780px;
    height: 474px;
    margin: 0 12px;
}

#text {
    word-break: break-word;
    width: inherit;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

#caret-solid {
    background-color: #00ff00;
    width: 7px;
    height: 16px;
    position: absolute;
    transform: translateX(32px) translateY(-46px);
}

#caret-blink {
    background-color: #00ff00;
    -webkit-animation: blink 1s step-end infinite;
    width: 7px;
    height: 16px;
    position: absolute;
    transform: translateX(32px) translateY(-46px);
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
@keyframes blink { 50% { visibility: hidden }}